# Config

!config/default.json
!config/development.json.sample
config/*.json


# Next
.next

# Logs
npm-debug.log*

# NPM
node_modules/

# Transpiled code
dist
.out

# Dev tools
.DS_Store
.vscode
.idea
*.swp
*.bak

node_modules.nosync/
